html{

    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
}

body{
	text-align: center;
}

/*------------- header -----------------*/

#Header{
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/background1.jpg);
	height: 670px;
	color: white;
}
	
#navbar ul {
	float: right;
	margin-top: 12px;
	display: -webkit-flex;
    display: flex;	
	color: rgb(0, 224, 208);
}

#navbar ul li{
	float: left;
	list-style-type:none;
}

#navbar ul li a{
	text-decoration: none;
	underline: none;
	color: white;
}

#navbar ul li a:hover{
	color: #00E0D0;
}

.text{
	margin-top: 190px;
	padding: 10px;
	display: none;
	height: 300px;
}

.text h2{
	font-size: 32px;
	font-family: "PlayfairDisplay";
}

.text p{
	height: 100px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
#Dotnav span{
	border: solid 2px #bbb;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: none;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, #Dotnav span:hover{
  background-color: #00E0D0;
  border: solid 2px #00E0D0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*------------- content ----------------*/
#About{
	height: 410px;
}

#AboutLeft{
	float: left;
	margin-top: 70px;
}

#AboutRight{
	float: left;
	margin-top: 70px;
}

#AboutRight h3{
    color: rgb(65, 61, 75);
	font-weight: bold;
}

#AboutRight p{
    color: rgba(65, 61, 75, 0.749);
}

#AboutVideo{
	height: 550px;
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/bcvideo.jpg);
	color: white;
}

video{
	height: 550px;
	width: 960px;
	z-index: -1;
}

#myVideo source src{
	height:550px;
	width: auto;
	z-index: -1;
}/*
#VideoControlsBar{
	display: block;
	position: absolute;
	z-index: 100;
}

#playpausebtn{
	display: block;
}

#VideoControlsBar input[type='range'] {
	-webkit-appearence: none !important;
	background: #666;
	border: #666 1px solid;
	height: 4px;
}

#VideoControlsBar input[type='range']::-webkit-slider-thumb {
	-webkit-appearence: none !important;
	background: #FFF;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	cursor: pointer;
}



button#playpausebtn{
	background: url(img/playicon.png);
	border: none;
	width: 20px;
	height:20px;
	cursor: pointer;
	opacity: 0.5;
}

button#playpausebtn:hover{
	opacity: 1;
}
*/

/*
#AboutVideo a{
	text-decoration: none;
	font-size: 16px;
	font-family: "Roboto";
    color: rgb(255, 255, 255);
}

#AboutVideo a img{
	margin-top: 200px;
	padding: 10px;
	border: 3px solid white;
	border-radius: 50%;
}
*/

#Expertise{
	height: 500px;
}

#Exp{
	margin-top: 70px;
}

#Exp ul{
	display: -webkit-flex;
    display: flex;
}

#Exp ul li{
	display: inline;
	margin-top: 15px;
	margin-bottom: 15px;
	list-style-type:none;
	align-items: baseline;
}
#Exp ul li a{
	text-decoration: none;
	color: black;
}

#Exp ul li a img{
	padding: 20px;
}

#Exp ul li h5{
    color: rgb(65, 61, 75);
    line-height: 1.2;
    text-align: center;
}

#Exp ul li p{
   color: rgba(51, 51, 51, 0.749);
   line-height: 1.571;
   text-align: center;
}

#Team{
	height: 715px;
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/bcteam.jpg);
	color: white;
}

#TeamTitle{
	padding: 10px;
}

#TeamTitle h3{
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

#TeamTitle p{
	font-size: 14px;
	font-family: "PlayfairDisplay";
	color: rgb(249, 249, 249);
	line-height: 1.2;
}

.TeamItem{
	float: left;
	padding: 10px;
}

.TeamItem h5{
  text-align: center;
}

.TeamItem p{
	font-size: 13px;
	color: rgba(250, 250, 250, 0.702);
	line-height: 1.2;
}

#TeamBottom p{
	color: rgb(243, 243, 243);
}

#Works{
	height: 440px;
	margin: solid red;
}

#Works h4{
	text-align: left;
	padding-top: 5px;
	color: rgb(65, 61, 75);
	font-weight: bold;
}

#Works p{
	float: right;
	padding-top: 10px;
	color: rgb(65, 61, 75);
}

#Works ul{
	display: -webkit-flex;
    display: flex;
	margin: solid;
	margin-bottom: 0px;
}

#Works ul li{
	display: inline-block;
	list-style-type:none;
	margin: 0px;
}

#Works ul li img{
	width: calc(100%/1);
}

#WorksBottom{
	margin-top: 40px;
}


#Testimonials{
	height: 500px;
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/bctestimonials.jpg);
	color: white;
}

#TestimonialsText p:first-child{
	font-size: 100px;
	color: rgba(255, 255, 255, 0.902);
}

#TestimonialsText p:nth-child(2){
	font-size: 16px;
	color: rgba(255, 255, 255, 0.851);
	text-align: center;
	width: 770px;
	height: 95px;
	margin: 0px;
}


#TestimonialsText p:nth-child(3) span{
	color: rgba(255, 255, 255, 0.702);
}


#TestimonialsPict {	
}

#TestimonialsPict ul{
	display: inline-block;
}

#TestimonialsPict ul li{
	display: inline;
	margin-left: 15px;
	list-style-type:none;
}

#Contact{
	height: 550px;
    color: rgb(65, 61, 75);
    font-weight: bold;
}

#ContactForm form input{
	margin-bottom: 20px;
	height: 20px;
	padding: 10px;
}

#ContactForm form input:nth-child(4) {
	padding-bottom: 200px;
}

#Client{
	float: right;
	margin-right: 5px;
}

.HappyClient{
	display: inline-block;
	height: 420px;
	width: 180px;
}


.HappyClient ul li{
	height: 75px;
	width: 175px;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-right: 5px;
	list-style-type: none;
}


/*--------------foooter-----------------*/
#Footer{
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/bcfooter.jpg);
	color: white;
	height: 300px;
	color: white;
	text-align: left;
}

#OurStudio table tr th{
	padding: 5px;
}

#FooterBottom  {
	margin-top: 100px;	
    color: rgb(255, 255, 255);
}

#FooterBottom p {
	float: right;
}

#FooterBottom ul li{
	display: inline-block;
	list-style-type: none;
}

#FooterBottom ul li a{
	text-decoration: none;
	color: white;
}

#FooterItemsLeftText{
	display: block;
	color: rgb(255, 255, 255);
}

#StayInTouch{
	margin-left: 0px;
}

#SIT{
	display: inline-block;
	display: flex;	
}

#SIT form {
	margin-left: 0px;
	display: flex;	
}

#SIT form input{
	margin-left: 0px;	
	padding: 2px;
	width: 180px;
	background: rgba(255, 255, 255, 0.3);
	border: 0px;
}

#paper img {
	list-style-type: none;
	background: rgba(255, 255, 255, 0.3);
	padding: 5px 20px 5px 20px;
}

#fonts{
	margin: 10px;
}

#fonts ul{
	display: -webkit-flex;
    display: flex;
}

#fonts ul li{
	display: inline-block;
	list-style-type: none;
	margin-left: 0px;
	margin-right: 20px;
}


/*-------------- class ----------------*/
.button{	
	border: solid 1px;
	color: #00E0D0;
	border-radius: 2px;
	text: 10px;
	padding: 15px;
	display: inline-block;
}

.button a{	
	text-decoration: none;
	color: #00E0D0;
}

#submit{	
	border: solid 1px;
	color: #00E0D0;
	border-radius: 2px;
	text: 10px;
	padding: 10px;
	display: inline-block;
	background: none;
}

.logo{
	display: inline-block;
	color: #00E0D0;
	font-size: 30px; 
}

/*-------------- fonts ----------------*/

.FontPropA{
	font-size: 14px;
	font-family: "Roboto";
}

.FontPropB{
	font-size: 15px;
	font-family: "Roboto";
}

.FontPropC{
	font-size: 13px;
	font-family: "Roboto";
}

.FontPropC{
	font-size: 22px;
	font-family: "PlayfairDisplay";
}