html{
	mergin-right: auto;
	margin-left: auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
	text-align: center;
}

/*------------- header -----------------*/
#Header{
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/background1.jpg);
	height: 670px;
	color: white;
	text-align: center;
}


/*------------- content ----------------*/
#About{
	height: 410px;
}

#AboutLeft{
	float: left;
}

#AboutRight{
	float: left;
}

#AboutVideo{
	height: 550px;
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/background1.jpg);
}

#Expertise{
	height: 760px;
}

.ExpertiseItem{
	height: 760px;
}

#ExpertiseItemTop{
	float:left;
}

#Team{
	height: 715px;
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/background1.jpg);
}

.TeamItem{
	float:left;
}

#Works{
	height: 740px;
}

.WorksItemT{
	float: left;
	width: 16%;
}

.WorksItemB{
	float: left;
	width: 16%;
}

#Testimonials{
	height: 500px;
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/background1.jpg);
}

#Contact{
	height: 650px;
}




/*--------------foooter-----------------*/
#Footer{
	background: linear-gradient(rgba(65, 50, 106, 0.8), rgba(65, 50, 106, 0.8)), url(img/background1.jpg);
	height: 400px;
	color: white;
	text-align: center;
}




/*-------------- class ----------------*/
.button{	
	border: solid 1px;
	color: #00E0D0;
	border-radius: 2px;
	text: 10px;
	padding: 15px;
	position: absolute;
	display: inline-block;
}